/.vscode
/build
/api/llnim_rs/.idea
/api/llnim_rs/target
/examples/rust/array/.idea
/examples/rust/battery/.idea
/examples/rust/blank/.idea
/examples/rust/cube-sine/.idea
/examples/rust/keyframes/.idea
